{% if banners.home or banners.extra1 %}
    {% if banners.extra1 and utils.is_mobile %}
        <div class="banner-full">
            <div class="slick">

                {% if banners.extra1.type == 'javascript' %}
                    {% for slide in banners.extra1.slides %}

                        <div class="item">
                            <a {% if slide.link %} href="{{ slide.link }}" {% if slide.target == '_blank' %} target="_blank" rel="noreferrer noopener" {% endif %}{% endif %}>
                                <img src="{{ slide.image }}" alt="banner">
                            </a>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class="item">

                        {% set link = banners.extra1.tracked_link ? banners.extra1.tracked_link : banners.extra1.link %}

                        <a {% if banners.extra1.link %} href="{{ link }}" {% if banners.extra1.target == '_blank' %} target="_blank" rel="noreferrer noopener" {% endif %} {% endif %}>
                            <img src="{{ banners.extra1.src }}" alt="banner">
                        </a>

                    </div>
                {% endif %}

            </div>
        </div>
    {% else %}
        <div class="banner-full">
            <div class="slick">

                {% if banners.home.type == 'javascript' %}
                    {% for slide in banners.home.slides %}

                        <div class="item">
                            <a {% if slide.link %} href="{{ slide.link }}" {% if slide.target == '_blank' %} target="_blank" rel="noreferrer noopener" {% endif %} {% endif %}>
                                <img src="{{ slide.image }}" alt="banner">
                            </a>
                        </div>

                    {% endfor %}
                {% else %}

                    <div class="item">

                        {% set link = banners.home.tracked_link ? banners.home.tracked_link : banners.home.link %}

                        <a {% if banners.home.link %} href="{{ link }}" {% if banners.home.target == '_blank' %} target="_blank" rel="noreferrer noopener" {% endif %} {% endif %}>
                            <img src="{{ banners.home.src }}" alt="banner">
                        </a>

                    </div>

                {% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}