{% if settings.ativarMarca %}
    <div class="brand controls container">
        <ul class="brand__list">
            {% if settings.marca1 %}
            <li class="brand__list--item">
                {% if settings.linkMarca1 %}
                    <a href="{{ settings.linkMarca1 }}" target="_blank">
                        <img src="{{ asset(settings.marca1) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca1 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca1 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca1) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca1 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca1 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
    
            {% if settings.marca2 %}
            <li class="brand__list--item">
                {% if settings.linkMarca2 %}
                    <a href="{{ settings.linkMarca2 }}" target="_blank">
                        <img src="{{ asset(settings.marca2) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca2 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca2 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca2) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca2 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca2 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
    
            {% if settings.marca3 %}
            <li class="brand__list--item">
                {% if settings.linkMarca3 %}
                    <a href="{{ settings.linkMarca3 }}" target="_blank">
                        <img src="{{ asset(settings.marca3) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca3 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca3 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca3) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca3 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca3 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
    
            {% if settings.marca4 %}
            <li class="brand__list--item">
                {% if settings.linkMarca4 %}
                    <a href="{{ settings.linkMarca4 }}" target="_blank">
                        <img src="{{ asset(settings.marca4) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca4 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca4 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca4) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca4 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca4 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
    
            {% if settings.marca5 %}
            <li class="brand__list--item">
                {% if settings.linkMarca5 %}
                    <a href="{{ settings.linkMarca5 }}" target="_blank">
                        <img src="{{ asset(settings.marca5) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca5 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca5 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca5) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca5 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca5 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
    
            {% if settings.marca6 %}
            <li class="brand__list--item">
                {% if settings.linkMarca6 %}
                    <a href="{{ settings.linkMarca6 }}" target="_blank">
                        <img src="{{ asset(settings.marca6) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca6 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca6 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca6) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca6 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca6 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
    
            {% if settings.marca7 %}
            <li class="brand__list--item">
                {% if settings.linkMarca7 %}
                    <a href="{{ settings.linkMarca7 }}" target="_blank">
                        <img src="{{ asset(settings.marca7) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca7 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca7 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca7) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca7 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca7 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
    
            {% if settings.marca8 %}
            <li class="brand__list--item">
                {% if settings.linkMarca8 %}
                    <a href="{{ settings.linkMarca8 }}" target="_blank">
                        <img src="{{ asset(settings.marca8) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca8 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca8 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca8) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca8 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca8 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
    
            {% if settings.marca9 %}
            <li class="brand__list--item">
                {% if settings.linkMarca9 %}
                    <a href="{{ settings.linkMarca9 }}" target="_blank">
                        <img src="{{ asset(settings.marca9) }}" alt="" class="brand__item--hover"/>
                        {% if settings.titleMarca9 %}
                            <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca9 }}</p>
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ asset(settings.marca9) }}" alt="" class="brand__item--hover"/>
                    {% if settings.titleMarca9 %}
                        <p style="margin-top: 10px; color: #333; font-size: 14px; text-align: center;">{{ settings.titleMarca9 }}</p>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
        </ul>
        <button aria-label="Previous" class="slider-prev"><i class="fas fa-chevron-left"></i></button>
        <button aria-label="Next" class="slider-next"><i class="fas fa-chevron-right"></i></button>
    </div>
{% endif %}