<div class="paginate">    
    <div class="paginate__links">
    {% if paginate.params.pageCount > 1 %}
        {{ paginate.first('Primeiro', {'class': 'page-first page-link'}) }}
     
        {% if paginate.hasPrev %}
            {{ paginate.prev('<', {'class': 'page-prev page-link'}) }}
        {% endif %}
     
        {{ paginate.numbers({
            'modulus': 5,
            'separator': '',
            'class': 'page-link',
            'currentClass': 'page-current'
        }) }}
     
        {% if paginate.hasNext %}
            {{ paginate.next('>', {'class': 'page-next page-link'}) }}
        {% endif %}
     
        {{ paginate.last('Último', {'class': 'page-last page-link'}) }}
    {% endif %}
    </div>
</div>

<script>
    (function(){
        setTimeout(function(){
            var btnPageLink = document.querySelectorAll('.page-link');

            btnPageLink.forEach(element => {
                if(element.classList.contains('page-next')) {
                    element.querySelector('a').innerHTML = '<i class="fas fa-angle-right"></i>'
                }
                else if(element.classList.contains('page-prev')) {
                    element.querySelector('a').innerHTML = '<i class="fas fa-angle-left"></i>'
                }
            });
        }, 500)
    })()
</script>